.home {
  &__body-text {
    line-height: 90px;
  }

  &__arrow-path {
    top: 0;
    right: -150px;
    animation: top-down 2.5s infinite ease-out;
  }

  &__action-button {
    width: 150px !important;
    transition: 0.3s all ease-out;

    &:hover {
      box-shadow: 0px 0px 20px 3px rgba(255, 149, 50, 0.4);
      transform: scale(1.03);
    }
  }

  &__slider-view {
    width: 520px;
  }

  &__slider-image {
    width: 100%;
  }
}

@keyframes top-down {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(30px);
  }
  100% {
    transform: translateY(0);
  }
}
