.pizza {
  &__card {
    border-radius: 12px;
    border: 1px solid rgba(204, 204, 204, 0.13);
    padding: 20px;
    width: 100%;
    min-height: 320px;
    box-shadow: 0px 0px 25px 3px rgba(167, 167, 167, 0.1);
    transition: 0.3s all ease-out;

    &:hover {
      transform: scale(1.1);
      box-shadow: 0px 0px 25px 3px rgba(255, 149, 50, 0.1);
    }
  }

  &__image {
    top: -10%;
    left: 18%;
    transform: translateX(-50%);
    width: 170px;
    animation: rotate 40s linear infinite;
    & img {
      width: 100%;
    }
  }

  &__button-incrementor {
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    border: 1px solid rgb(204, 204, 204);
    background: rgb(238, 238, 238);
    transition: 0.3s all ease-out;

    &:disabled {
      border: 1px solid rgb(241, 241, 241);
      background: rgb(253, 253, 253);
    }
  }
}
