.nav {
  &__link {
    transition: 0.3s all ease-out;

    &:not(:last-child) {
      margin-right: 40px;
    }

    &:hover {
      cursor: pointer;
      color: rgb(255, 149, 50);
    }

    &.active {
      font-weight: bold;
      color: rgb(255, 149, 50);
    }
  }
}

.cart__value {
  top: -10px;
  left: -3px;
  padding: 10px;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  color: #fff;
  font-size: 9px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgb(255, 149, 50);
}
